openapi: "3.0.3"

info:
  title: "Finbricks.com API - Split payment"
  description: "Finbricks.com API - Split payment"
  version: "1.0.0"

servers:
  - url: https://api.finbricks.com/
    description: Production server
  - url: https://api.sandbox.finbricks.com/
    description: Sandbox server (uses live data)

tags:
  - name: SplitPayment
    description: Split payments initiation services

paths:
  /splitPayment/init:
    post:
      tags:
        - SplitPayment
      summary: "Split payment initiation"
      operationId: splitPaymentInit
      parameters:
        - $ref: '#/components/parameters/signature'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SplitPaymentInit"
      responses:
        201:
          description: "Created - initialization of split payment was succesfull"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitResult'
        default:
          description: Some error occured - see chapter [Error handling](#section/Error-handling) for possible values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  parameters:
    merchantId:
      in: query
      name: merchantId
      required: true
      schema:
        type: string
        format: uuid
        example: "c3073b9d-edd0-49f2-a28d-b7ded8ff9a8b"
      description: "Unique merchant identifier from merchant registration process"

    signature:
      in: header
      name: signature
      required: true
      schema:
        type: string
        example: "d7fILo5uES9aX/uHgz/N4qZq2MN5lKnxv6HzQx7gVaXcMSRwzcc+k8FXWcyA3FzC5Ps0kxmiwSkR8Rco6vFsyfo3nubtuqPByfhV9kZ5gG4o3JUZAchZL99M6zX4uVBVMs+DWuUX80jlHVOk6DLsOYMoMVEoTAoPUQL22GsPelMFG9ZyujbNAY23jKJxi/Y89s2/n5+OsIG0+LlDD1fpxbROzPQcXj2dZXGI7CqTEAEQvnS0wCJvpJPdxcyKxF+F7wpmlzJLD3kMA8w6ffw4O8DX00KJOJv2ROLd3u1whtLqO7unbHYkNVk05q6gT4nl1TMkKtZP0I/dCuGrWzf0QlBTLExK2JTYpj3mvKuWBJWcJDb61sAn3r+SE7zltmY9cqgnX9UId8Ax97ToqwGl6GUFv47LN+gOp88V7H4HIGu8C1+VF0OxRgIerSrKKHg0GgoxBWkT8XJr3ULdegE4AtQqQIpZZZPE3ios5+3LU/HjlNQnpoMwgcPPZE4UX5vN2uRIYkugcTn7CF13OTX9Qdqfy21gvO9Jbu+pydlyvod6HyvDiEv4W1v8Nex1yrS7rVW8vkufb8K/aTt9LxZxb+4ZM4c6Zd0n+FwkZSma25mNTNOAwJ321ev82PTLuw8mGqM8oPZKSR+sU0WVrzOQvpdBKwjgryKLoS8AoiPSoxY="
      description: "Signature of the request. For more information, see chapter [Signing the request](#section/Security/Signing-the-request)."

  schemas:
    InitResult:
      type: object
      required:
        - redirectUrl
      properties:
        redirectUrl:
          type: string
          description: "The client should redirect the end user to this URL."

    SplitPaymentInit:
      description: "Split payment init"
      type: object
      required:
        - merchantId
        - merchantTransactionId
        - userName
        - amount
      properties:
        merchantId:
          type: string
          format: uuid
          description: "Unique merchant identifier from merchant registration process"
          example: "c3073b9d-edd0-49f2-a28d-b7ded8ff9a8b"
        merchantTransactionId:
          type: string
          format: uuid
          description: "Unique transaction identifier generated by merchant"
          example: "e284d244-f2ce-4ee6-9ae3-27869cbd8d0f"
        userName:
          type: string
          description: "Identification of the ESSOX agent."
          example: "123456789okay1234"
        amount:
          type: number
          description: "Split payment order amount. The value must be between 2000 and 15000."
          example: 4000.00
        callbackUrl:
          type: string
          description: "URL that is called after the process of split payment is done."
          example: "https://example.com/callback"

    Error:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          description: "Date time of the response."
          example: "2021-04-19T10:47:04.074795+02:00"
        code:
          type: string
          description: "Error code. For list of used codes see the chapter [Error codes](#section/Error-handling/Error-codes)."
          example: 213
        message:
          type: string
          description: "Error message."
          example: "Invalid input merchantId without value. Problem: merchantId is required parameter"
        xrequestId:
          type: string
          format: uuid
          description: "Identifier that can be used to report the issue."
          example: "508e9f32-c7e1-4740-924a-2d5833b5eff4"
